.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 15px 15px 0 15px;

  .filter {
    color: black;
    margin-bottom: 15px;

    &:last-child {
      margin-right: 0;
    }

    label {
      display: block;
      margin-bottom: 5px;
      color: rgb(219, 219, 219);
    }
  }
}

.product_list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  gap: 20px;
  color: black;
}

.sub {
  display: flex;
  margin: 0 0 20px 0;
  border-bottom: 1px solid gainsboro;
  padding-bottom: 10px;
}

.sub_right {
  margin-left: 15px;
  display: flex;

  .in_stock {
    zoom: 1.3;
    margin-right: 10px;
    label {
      color: black;
      vertical-align: super;
      margin-right: 10px;
      font-size: 15px;
    }
  }
}

.bottom {
  padding: 10px 0 10px 0;
  margin: 20px 0 0px 0;
  border-top: 1px solid gainsboro;
  display: flex;
  justify-content: center;

  Button {
    margin: 20px 0;
  }
}

.error {
  color: red;
  padding: 20px;
}

.loading {
  color: black;
  padding: 20px;
}