.productDetail {
  color: black;

  .backButton {
    margin: 20px 0;
  }

  .addButton {
    margin-top: 15px;
  }

  .blurb {
    margin: 20px 0;
  }

  .price {
    margin-top: 10px;
  }

  .imageGallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    img {
      width: 300px;
      height: 300px;
      object-fit: cover;
      margin-bottom: 20px;
    }
  }

  .variant {
    margin-bottom: 20px;
    border-top: 1px solid #ccc;
    padding-top: 10px;
  }
}

.error {
  color: red;
  padding: 20px;
}

.loading {
  color: black;
  padding: 20px;
}