.topBar {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  border-bottom: 1px solid rgb(230, 230, 230);
  color: black;

  .logo {
    height: 30px;
    margin: 10px 0;
    padding: 5px;
  }

  .menuContainer {
    display: flex;
  }

  .nav,
  .icons {
    display: none;
    flex-direction: column;
    text-align: center;

    a {
      color: black;
      text-decoration: none;
      text-transform: uppercase;
      font-family: 'Roboto Condensed', sans-serif;
      margin-bottom: 15px;
      font-size: 14px;
      font-weight: 500;
    }
  }

  .icons {
    margin-top: 15px;
    flex-direction: initial;
    gap: 30px;
  }

  .nav.open,
  .icons.open {
    display: flex;
  }

  .menuToggle {
    display: block;
    cursor: pointer;
    margin: 10px 10px 40vw 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 40vw;
    margin-right: 10px;

    svg {
      font-size: 24px;
    }
  }

  @media(min-width: 768px) {
    flex-direction: row;
    justify-content: space-between;

    .nav,
    .icons {
      display: flex;
      flex-direction: row;
      text-align: left;
    }

    .nav {
      flex: 1;
      justify-content: center;
      align-items: center;

      a {
        margin-right: 30px;
        margin-bottom: 0;
      }
    }

    .icons {
      justify-content: space-around;
      width: 200px;
      display: flex;

      a {
        color: black;
        text-decoration: none;
      }
    }

    .menuToggle {
      display: none;
    }
  }
}